<!-- 底部导航栏组件 -->
<div class="tab-bar">
  <a href="#" class="tab-item active" data-page="home">
    <i class="fas fa-home tab-icon"></i>
    <span>首页</span>
  </a>
  <a href="#" class="tab-item" data-page="my-activities">
    <i class="fas fa-calendar-alt tab-icon"></i>
    <span>我的活动</span>
  </a>
  <a href="#" class="tab-item" data-page="wallet">
    <i class="fas fa-wallet tab-icon"></i>
    <span>钱包</span>
  </a>
  <a href="#" class="tab-item" data-page="profile">
    <i class="fas fa-user tab-icon"></i>
    <span>我的</span>
  </a>
</div>
